.menu ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
  text-align: center;
}

.menu .title {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  items-align: center;
  display: block;
}

.menu .title::before {
  content: "▶ ";
  font-size: 80%;
  color: rgb(98, 13, 209);
  text-align: center;
}

.menu.open .title::before {
  content: "▼ ";
}

.menu.open ul {
  display: block;
}
